/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Figtree", sans serif;
}



body {
    background-color: hsl(47, 88%, 63%);

}

/* utili */

.m-bottom {
    margin-bottom: 20px;
}

.font-w {
    font-weight: 700;
}

/* container */

.container {
    max-width: 320px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* card */

.card {
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 10px 10px 0 black;
    border-radius: 20px;

    /* picture */
    figure {


        img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
        }


    }


    .tag {

        background-color: hsl(47, 88%, 63%);
        padding: 5px 15px;
        border-radius: 5px;

    }

    address {
        margin: 20px 0;
        font-style: normal;
    }

    h2:hover {
        color: hsl(47, 88%, 63%);
    }

    p {
        color: hsl(0, 0%, 42%);
        font-size: calc(0.90em + 1vmin);
    }

    .info {
        display: flex;
        align-items: center;
        gap: 15px;

        figure {
            width: 30px;
        }


        img {
            max-width: 100%;
            height: auto;

        }
    }

}

/* media querie */

/* @media screen and (min-width: 1100px) {
    .container {
        max-width: 1000px;

    }
} */