/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: hsl(47, 88%, 63%);
}

/* container */

.container {
    max-width: 350px;
    margin: 0 auto;
}

/* card */

.card {
    padding: 20px;
    background-color: hsl(0, 0%, 100%);

}